header.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px 0 #424242;
    -moz-box-shadow: 0 0 4px 0 #424242;
    box-shadow: 0 0 4px 0 #424242;
}